<% layout('layout') -%>

 <section class="features-icons bg-light text-center">

    <div class="container about-container background-gifts" style="padding:10px;">
        <h3 style="color:white;">Meet the Developers!</h3>

        <div class="row">
            
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card"  style="margin: 5px;">
                    <img class="card-img-top img-thumbnail portrait-image" src="assets\images\portraits\keivon.jpg" style="width:200px;height:200px;" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Keivon Arooji</h4>
                        <p class="card-text">Lead Developer of </br> API Interface</p>
                        <a href="https://www.linkedin.com/in/keivonarooji"  target="_blank"><img src="assets\images\linkedin.png" style="width:60px;height:60px; margin:5px; "></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card"  style="margin: 5px;">
                    <img class="card-img-top img-thumbnail portrait-image" src="assets/images/portraits/margaret.jpg" style="width:200px;height:200px;" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Margaret Rumble</h4>
                        <p class="card-text">Lead Developer of User Authentication</p>
                        <a  href="http://www.linkedin.com/in/meg-rumble-a4034527"  target="_blank"><img src="assets\images\linkedin.png" style="width:60px;height:60px;margin:5px;"></a>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card"  style="margin: 5px;">
                    <img class="card-img-top img-thumbnail  portrait-image" src="assets/images/portraits/adrienne.jpg" style="width:200px;height:200px;" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Adrienne Bennett</h4>
                        <p class="card-text">Lead Front End Developer and Designer</p>
                        <a  href="https://www.linkedin.com/in/adriennebennett/"  target="_blank"><img src="assets\images\linkedin.png" style="width:60px;height:60px;margin:5px;"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card"  style="margin: 5px;">
                    <img class="card-img-top img-thumbnail portrait-image" src="assets/images/portraits/anthony.jpg" style="width:200px;height:200px;" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Anthony Habash</h4>
                        <p class="card-text">Lead Back End and Database Designer</p>
                        <a href="https://www.linkedin.com/in/anthonyhabash/"  target="_blank"><img src="assets\images\linkedin.png" style="width:60px;height:60px;margin:5px;"></a>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>