<% layout('layout') -%>
    
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-9 col-md-6 col-lg-4" style="margin:30px;">
            <div class="card background-gifts" style="border:0; color: #ffffff;">
                <div class="card-body">
                    <h3 style="color: #ffffff;">Making a List</h3>
                    <form class="form-horizontal" role="form" method="post" action="/addPerson" onSubmit="return checkblank(this);">
                        <% if (message && message.length > 0) { %>
                            <div class="alert alert-danger col-sm-12">
                                <%= message %>
                            </div>
                            <% } %>
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>

                                <div class="form-group">
                                    <label for="first_name" class="control-label">First Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="first_name" placeholder="First Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="last_name" class="control-label">Last Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="relationship" class="control-label">Relationship</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="relationship" placeholder="Relationship">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="address" class="control-label">Address</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="address" placeholder="Address">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-addPerson" type="submit" class="btn btn-info">
                                            <i class="icon-hand-right"></i>Add Another Person</button>
                                        
                                            <a href="/people" >View List</a>
                                        <!-- piece from original code???!-->
                                        <!-- <div class="panel-title">Sign Up</div> -->
                                    </div>
                                </div>
                </div>
            </div>
            </form>
        </div>
        <div class="col"></div>
    </div>


