<% layout('layout') -%>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="list-group" style="margin: 30px; width: 100%;">
                <button type="button" class="list-group-item list-group-item-action active" style="background-color:#39BBA5; border: 1px solid black;" disabled>Your People</button>
                <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
            </div>
        </div>
        <div class="col-6">
                <a type="button" class="add-people" href="/addPerson" style="margin: 30px; height: 50px; padding-left: 10px; padding-right: 10px;text-decoration: none; text-align: center; color: white; background-color:#343A3F; border: 1px solid black;">Add </br> People</a>
        </div>
    </div>
</div>
