<% layout('layout') -%>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="list-group" style="margin: 30px; width: 100%;">
                <button type='button' class='list-group-item list-group-item-action header-btn active' disabled>Your People</button>
                <div class="my-people">
                    <!-- People append here -->
                </div>
            </div>
        </div>
        <div class="col-6">
            <a type="button" class="add-people" href="/addPerson"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
