<% layout('layout') -%>
<!-- Page Content -->
<div class="container">
    
        <div class="row">
          <div class="col-lg-12">
            <h4>My People </h4>
            <hr/>
    
            <div class="row">
              <div class="col-lg-4">
    
                <div class="list-group">
                  <ul class="list-group">
                    <li class="list-group-item">Mom</li>
                    <li class="list-group-item">Dad</li>
                    <li class="list-group-item">Grandma</li>
                    <li class="list-group-item">Alison</li>
                    <li class="list-group-item">Taylor</li>
                    <li class="list-group-item">Seth</li>
                    <li class="list-group-item">Christy</li>
                  </ul>
                </div>

              </div>
            </div>
    
            <div class="row">
                <img src="https://www.geeklog.net/forum/image_set/avatar.png" height="150px">
            </div>

          </div>
        </div>
    </div>
</div>