<% layout('layout') -%>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="list-group my-people" style="margin: 30px; width: 100%;">
                <!-- People append here -->
            </div>
        </div>
        <div class="col-6">
            <a type="button" class="add-people" href="/addPerson"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
