<% layout('layout') -%>
    <!-- Page Content -->
    <div class="container">

        <!-- Header -->
        <form>
            <div class="form-group row">
                <div class="col-8">
                    <input class="form-control" type="text" value="" id="product-input">
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary walmart-btn"> Find gifts </button>
                </div>
            </div>
        </form>
        <br>
        <br>
        <br>

        <!-- Search results appear here-->
        <div id="search-results" class="row text center"></div>
    </div>